.business-form-header {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  margin: 40px 0;
  padding: 50px;
  text-align: center;
  width: 80%;
}

.business-form-header h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (min-width: 700px) {
  .business-form-header {
    width: 600px;
  }
}
