@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --bg: #fff;
  --sec: #fa6484;
  --sBlack: #333
}

/* globals */
* {
  color: var(--sBlack);
}

body {
  background-color: var(--bg);
  padding: 20px;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--sec);
}

h2 {
  text-decoration: underline;
  text-decoration-color: var(--sec);
}

.hl {
  background-color: var(--sec);
  font-style: italic;
  color: #fff;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

/* title and logo */
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: var(--sBlack);
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header .active {
  background-color: var(--sec);
}

/* ul #logo */
#logo {
  float: right;
  display: inline;
  list-style-type: none;
  margin: 0;
}

FontAwesomeIcon {
  color: var(--sec);
}

/* navbar */
.content {
  background-color: var(--bg);
  padding: 20px;  
}

.content h2,
iframe {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

/* Global css-transition-group styles - add styled.div if more transitions used */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
